[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Daniel Monzon
	email = monzond@hotmail.com.ar
[core]
	editor = code --wait
	autocrlf = true
